Package: updatecenter-dbgsym
Package-Type: ddeb
Source: updatecenter
Version: 1.0.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Hyggshi OS <hyggshidev@gmail.com>
Installed-Size: 2058
Depends: updatecenter (= 1.0.0-1)
Section: debug
Priority: optional
Description: debug symbols for updatecenter
Build-Ids: 3685821da3d7938f4c41b6effe35959e2ef82919
